* {
  font-family: sans-serif;
}

html{
  background-color: #666666;
}

body {
  width:80%;
  border-radius:5px;
  margin: 20px 0px 20px 20px;
  padding: 20px 0px 20px 20px;
  background-color: #CCCCCC;
}

h1 {
  width:80%;
  border-radius:5px;
  padding:20px;
  text-align: left;
  background-color: #CCCCCC;
  color:#FF33AA;
  font-family:Verdana;
  line-height: 1.4em;
  text-transform: lowercase;
  letter-spacing:0.1em;
  word-spacing:0.5em;
}

h2 {
  width:90%;
  padding:20px;
  border-bottom: 2px solid #FF33AA;
  text-align: left;
  color:#555555;
  font-family:Arial;
  letter-spacing:0.1em;
  text-transform: uppercase;
  display:none;
}

h2:first-letter {
  color:green;
  font-size:150%;
}

.content {
  width:90%;
  border-radius: 5px;
  padding:5px;
  left:20px;
  position:relative;
  background-color: white;
  font-family:Arial;
  display:none;
}

img {
  padding: 20px;
  border-radius: 5px;
}

ul {
  padding: 20px;
  left:20px;
  text-align: left;
  position: relative;
  font-family:Arial;
}

li {
  padding:3px;
}
